<div class="jumbotron">
  <h1 class="display-4">Simply. Delicious.</h1>
  <%= image_tag("lemon_cupcake.JPG", width: '100%', height: 'auto') %>
  <p class="lead">
    <a class="btn btn-primary btn-lg btn-warning" href="#" role="button">Order Now!</a>
  </p>
</div>
