<% @title = "Home" %>

<div class="jumbotron">
  <h1 class="display-4">
    Simply. Delicious.
    <a class="btn btn-primary btn-lg btn-warning float-right" href="#" role="button">Order Now!</a>
  </h1>
  <%= image_tag("lemon_cupcake.JPG", width: '100%', height: 'auto') %>
</div>
