<% @title = "Home" %>

<main role="main" class="inner cover">
  <h1 class="cover-heading">Simply. Delicious.</h1>
  <p class="lead">Mana Cupcakes are you primary source for cupcakes that are not only light and delicious but gluten free as well.</p>
  <p class="lead">
    <!--a href="" class="btn btn-lg btn-secondary">Try them out!</a-->
    <%= link_to "Try some now!", pages_menu_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
