<%= link_to carts_path, class: "nav-item nav-link text-white shopping-cart" do %>
  <%= image_tag("shopping-cart.png") %>
  <span><%= "#{current_order.order_items.size} items @ $#{current_order.subtotal}" %></span>
<% end %>
